<form class="example-form" style="background:#7b1fa2">
    <div class="container">
        <span class="h5" style="color:white; margin:1%">Cadastro</span>
        <div></div>
        <div class="row">
            <!-- <div class="col-sm-1">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Company (disabled)</mat-label>
                    <input matInput disabled value="Google">
                </mat-form-field>
            </div> -->
            <div class="col">
                <mat-form-field class="input-size" appearance="fill">
                    <mat-label class="color-label">Nome</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="input-size" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. email@example.com" required>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf=false>
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf=false>
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="input-size" appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="input-size" appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input type="tel" matInput placeholder="555-555-1234">
                </mat-form-field>
            </div>
        </div>
    </div>
</form>