<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button class="size-text" mat-button routerLink="/">Gym Starter</button>
            <span class="example-spacer">
        <div class="example-button-row">
          <button mat-button [matMenuTriggerFor]="controle">Controle</button>
          <mat-menu #controle="matMenu" yPosition="above">
            <a mat-menu-item routerLink="/aluno" >Alunos</a>
            <a mat-menu-item routerLink="/foto" >Funcionários</a>
            <a mat-menu-item routerLink="." >Matricula</a>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="financeiro">Financeiro</button>
          <mat-menu #financeiro="matMenu" yPosition="above">
            <a mat-menu-item routerLink="." >Caixa</a>
            <a mat-menu-item routerLink="." >Contas a pagar</a>
            <a mat-menu-item routerLink="." >Contas a receber</a>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="pesquisa">Pesquisa</button>
          <mat-menu #pesquisa="matMenu" yPosition="above">
            <a mat-menu-item routerLink="." >Alunos</a>
            <a mat-menu-item routerLink="." >Matriculas</a>
            <a mat-menu-item routerLink="." >Financeiro</a>
          </mat-menu>

          <button mat-button>Relatórios</button>



        </div>
      </span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>
      </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
