@import "~bootstrap/dist/css/bootstrap.css";

/* ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: red;
    background-color: green;
} */


/* ::ng-deep .mat-tab-list .mat-tab-labels {
    color: blue;
    background-color: rgb(7, 155, 56);
} */

::ng-deep .mat-tab-label-content {
    color: black;
}