<form [formGroup]="form">
  <div class="container background">
    <div class="h5 tittle">Consulta</div>
    <div class="row">
      <div class="text-center mb-2">
        <mat-form-field class="input-size" appearance="fill">
          <mat-label class="color-label">Nome</mat-label>
          <input class="text-center" type="text" formControlName="nome" matInput>
        </mat-form-field>
        <button class="rounded-pill" (click)="consulta()" mat-flat-button color="accent">Buscar</button>
      </div>
    </div>
  </div>
</form>
<div class="row justify-content-start my-1 mx-0">
  <div class="col-4 mb-1 adjust" *ngFor="let aluno of alunos">
    <mat-accordion>
      <mat-expansion-panel hideToggle [disabled]="isDisabled">
        <mat-expansion-panel-header collapsedHeight="190px" expandedHeight="190px">
          <div>
            <fa-icon class="p-1" (click)="openDialoEdit(aluno.nome)" [icon]="faUserPen"></fa-icon>
            <fa-icon class="p-1" (click)="openDialog(aluno.nome)" [icon]="icon"></fa-icon>
          </div>
          <mat-panel-title>
            <div class="row">
              <div class="col">
                <img [src]="aluno.base" alt="Imagem de perfil" class="img-thumbnail img-profile">
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <h2>{{ aluno.nome }}</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{aluno.email}}<br>{{aluno.endereco}}<br>{{aluno.telefone }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
