.mat-expansion-panel {
  background-color: #7b1fa2;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-size {
  padding: 1%;
  width: 20%;
  margin-bottom: -2%;
}

@media (max-width: 768px) {
  .adjust {
    width: 100%;
  }
}
