.mat-expansion-panel {
  background-color: #7b1fa2;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-size {
  padding: 1%;
  width: 20%;
  margin-bottom: -2%;
}

/* div.row.justify-content-around {
  margin-left: 0;
  margin-right: 0;
} */
